<!Doctype HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../images\il-elephant.png">

    <title> Camp Thailand | Home</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="css/bootstrap-grid.min.css" >
    <link rel="stylesheet" type="text/css" href="css/bootstrap-reboot.min.css" >

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-grid.min.css" >
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-reboot.min.css" >

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="../css/starter-template.css" >
    <link rel="stylesheet" type="text/css" href="../css/custom.css" >
    <link rel="stylesheet" type="text/css" href="../css/all.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg fixed-top navbar-custom">
  <div class="container">
    <a class="navbar-brand" href=index.html <"../images/imgLogo.png"><img class="img-fluid" alt="Logo" src="../images/imgLogo.png" width="75" height="60"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><img class="img-fluid" alt="Logo" src="../images/MENU.png" width="75" height="60"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
          <li class="nav-item">
            <a class="nav-link" href="../html\camp-locations.html">Camp Locations</a>
            <li class="nav-item">
              <a class="nav-link" href="../html\gallery.html">Gallery</a>
                    <li class="nav-item">
                     <a class="nav-link" href="../html\blogs.html">Blogs</a>
                      <li class="nav-item">
                       <a class="nav-link" href="../html\links.html">Links</a>

        <li class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="img-fluid" alt="Logo" src="../images/MENU.png" width="25" height="25"></a>
            <div class="dropdown-content">
              <a href="../html\about-us.html">About Us</a>
              <a href="../html\contact-us.html">Contact Us</a>
              <a href="../html\apply-now.html">Apply Now</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

</body>
</html>

  <div style="position:relative; top:200px;" >

<body>

  <div ng-if="$ctrl.formStep == 1" class="ng-scope">

              <div class="welcome-text well">
                  <h2 ALIGN="CENTER">Welcome</h2>
                  <div ng-bind-html="$ctrl.site.WelcomeText | nl2br" class="ng-binding"><p style="text-align: center;"> 🐘Are you ready for the Ultimate Thailand Adventure?🐘<br><br>🏝Camp Thailand is all about working hard, partying hard and making a positive impact!🏝<br></p><p style="text-align: center;"> ✈️ Choose us because you will make memories that last a lifetime, meet incredible people and leave a lasting legacy. 🌏 <br><br>❤️ It's now time to make your Camp Thailand dream a reality.❤️ <br></p></div>
              </div><hr>
              <div class="form-group has-error" ng-class="{'has-error': $ctrl.showValError('firstName')}">
                  <label for="first-name">First Name(s)<span class="text-danger">*</span></label>
                  <input class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" id="first-name" name="firstName" required="" focus-on="firstName" ng-model="$ctrl.person.firstName" ng-change="$ctrl.onFormUpdated()">
              </div>
              <div class="form-group" ng-class="{'has-error': $ctrl.showValError('lastName')}"><label for="last-name">Last Name<span class="text-danger">*</span></label>
                  <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" id="last-name" name="lastName" required="" ng-model="$ctrl.person.lastName" ng-change="$ctrl.onFormUpdated()">
              </div>

              <p class="help-block ng-binding ng-scope" ng-if="$ctrl.site.Labels.name_entry_tip !== ''" ng-bind-html=":: $ctrl.site.Labels.name_entry_tip || 'Please enter your name exactly as it appears on your passport.'">Please enter your name exactly as it appears on your passport.</p><!-- end ngIf: $ctrl.site.Labels.name_entry_tip !== '' -->
              </div>
              <p class="help-block ng-scope" ng-if=":: $ctrl.site.Settings.applicantAgeWarning">Applicants must be 18 or over before due date of departure</p><!-- end ngIf: :: $ctrl.site.Settings.applicantAgeWarning -->
              <div class="form-group" ng-class="{'has-error': $ctrl.showValError('personAge')}">
                  <label for="age">
                      Age
                      <span class="text-danger">*</span>
                  </label>
                  <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" id="age" name="personAge" required="" ng-model="$ctrl.person.age" ng-change="$ctrl.onFormUpdated()">
              </div>
              <div class="form-group" ng-class="{'has-error': $ctrl.showValError('personEmail')}">
                  <label for="email">
                      Email
                      <span class="text-danger">*</span>
                  </label>
                  <input class="form-control ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required" id="email" type="email" name="personEmail" required="" ng-model="$ctrl.person.email" ng-change="$ctrl.onFormUpdated()">
              </div>

              <div class="form-group" ng-class="{'has-error': $ctrl.showValError('personPhone')}">
                  <label for="phone">
                      Phone
                      <span class="text-danger">*</span>
                  </label>
                  <input class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" id="phone" name="personPhone" required="" ng-model="$ctrl.person.phone" ng-change="$ctrl.onFormUpdated()">
              </div>

           <div class="form-group ng-scope ng-hide" ng-if="$ctrl.site.Settings.referralCode" ng-hide="!$ctrl.person.referralCode" ng-class="{'has-error': $ctrl.form.referralCode.$invalid, 'has-success': $ctrl.person.referralCode &amp;&amp; $ctrl.form.referralCode.$valid}">
                  <label for="referralCode">Referral Code<span class="text-muted">(optional)</span></label>
                  <input class="form-control ng-pristine ng-untouched ng-valid ng-isolate-scope ng-empty ng-valid-validate-referral-code" id="referralCode" type="text" name="referralCode" style="width: 180px;" ng-model="$ctrl.person.referralCode" validate-referral-code="">

              </div>
              <section class="product-selection">

                <p class="help-block ng-binding ng-scope" ng-if="$ctrl.site.Labels.product_selection_intro !== ''" ng-bind-html=":: $ctrl.site.Labels.product_selection_intro || 'Please select the Location and Date you would like to attend:'">Please select the Location and Date you would like to attend:</p><!-- end ngIf: $ctrl.site.Labels.product_selection_intro !== '' -->

                <div class="form-group ng-scope" ng-class="{'has-error': $ctrl.showValError('select-product')}" ng-if="$ctrl.site.Products.length !== 1">
                    <label class="ng-binding">Select Your Experience<span class="text-danger">*</span></label>
                      <ul class="list-unstyled">
                          <li ng-repeat="p in $ctrl.site.Products" class="ng-scope">
                              <label class="ng-binding">
                                  <input type="radio" name="select-product" required="" focus-on="product_0" ng-model="$ctrl.product" ng-model-options="{}" ng-change="$ctrl.onProductChanged()" ng-value="p" class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required" value="[object Object]">
                                  Camp Thailand Camp Phuket 2019
                              </label>
                          </li><li ng-repeat="p in $ctrl.site.Products" class="ng-scope">
                              <label class="ng-binding">
                                  <input type="radio" name="select-product" required="" focus-on="product_1" ng-model="$ctrl.product" ng-model-options="{}" ng-change="$ctrl.onProductChanged()" ng-value="p" class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required" value="[object Object]">
                                  Camp Thailand Camp Chiang Mai 2019
                              </label>
                          </li><li ng-repeat="p in $ctrl.site.Products" class="ng-scope">
                              <label class="ng-binding">
                                  <input type="radio" name="select-product" required="" focus-on="product_2" ng-model="$ctrl.product" ng-model-options="{}" ng-change="$ctrl.onProductChanged()" ng-value="p" class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required" value="[object Object]">
                                  Camp Thailand Camp Elephant 2019
                              </label>
                          </li><li ng-repeat="p in $ctrl.site.Products" class="ng-scope">
                              <label class="ng-binding">
                                  <input type="radio" name="select-product" required="" focus-on="product_3" ng-model="$ctrl.product" ng-model-options="{}" ng-change="$ctrl.onProductChanged()" ng-value="p" class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required" value="[object Object]">
                                  Backpacker's Party 2019
                              </label>
                          </li><li ng-repeat="p in $ctrl.site.Products" class="ng-scope">
                              <label class="ng-binding">
                                  <input type="radio" name="select-product" required="" focus-on="product_4" ng-model="$ctrl.product" ng-model-options="{}" ng-change="$ctrl.onProductChanged()" ng-value="p" class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required" value="[object Object]">
                                  Camp Island Hop
                              </label>
                          </li><li ng-repeat="p in $ctrl.site.Products" class="ng-scope">
                              <label class="ng-binding">
                                  <input type="radio" name="select-product" required="" focus-on="product_5" ng-model="$ctrl.product" ng-model-options="{}" ng-change="$ctrl.onProductChanged()" ng-value="p" class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required" value="[object Object]">
                                  Camp Thailand Trailblazer
                              </label>
                          </li>
                      </ul>
                  </div>

                  <div class="form-group ng-scope" ng-class="{'has-error': $ctrl.showValError('select-product-option')}" ng-if="$ctrl.isProductOptionSectionVisible()">
                      <label class="ng-binding">
                          Select an Intake
                          <span class="text-danger">*</span>
                      </label>
                      <ul class="list-unstyled">
                           <li ng-repeat="po in $ctrl.product.ProductOptions" ng-if=":: !po.Hidden" class="ng-scope">
                              <label class="ng-binding">
                                  <input type="radio" name="select-product-option" required="" ng-model="$ctrl.productOption" ng-model-options="{}" ng-change="$ctrl.onSelectProductOption()" ng-disabled=":: po.SpotsRemaining < 1" ng-value="po" class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required" value="[object Object]">
                                  31st May - 21st June 2019

                              </label>
                          </li><li ng-repeat="po in $ctrl.product.ProductOptions" ng-if=":: !po.Hidden" class="ng-scope">
                              <label class="ng-binding">
                                  <input type="radio" name="select-product-option" required="" ng-model="$ctrl.productOption" ng-model-options="{}" ng-change="$ctrl.onSelectProductOption()" ng-disabled=":: po.SpotsRemaining < 1" ng-value="po" class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required" value="[object Object]">
                                  21st June - 12th July 2019
                              </label>
                          </li><li ng-repeat="po in $ctrl.product.ProductOptions" ng-if=":: !po.Hidden" class="ng-scope">
                              <label class="ng-binding">
                                  <input type="radio" name="select-product-option" required="" ng-model="$ctrl.productOption" ng-model-options="{}" ng-change="$ctrl.onSelectProductOption()" ng-disabled=":: po.SpotsRemaining < 1" ng-value="po" class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required" value="[object Object]">
                                  12th July - 2nd August 2019
                              </label>
                          </li><li ng-repeat="po in $ctrl.product.ProductOptions" ng-if=":: !po.Hidden" class="ng-scope">
                              <label class="ng-binding">
                                  <input type="radio" name="select-product-option" required="" ng-model="$ctrl.productOption" ng-model-options="{}" ng-change="$ctrl.onSelectProductOption()" ng-disabled=":: po.SpotsRemaining < 1" ng-value="po" class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required" value="[object Object]">
                                  2nd August - 23rd August 2019
                              </label>
                          </li><li ng-repeat="po in $ctrl.product.ProductOptions" ng-if=":: !po.Hidden" class="ng-scope">
                              <label class="ng-binding">
                                  <input type="radio" name="select-product-option" required="" ng-model="$ctrl.productOption" ng-model-options="{}" ng-change="$ctrl.onSelectProductOption()" ng-disabled=":: po.SpotsRemaining < 1" ng-value="po" class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required" value="[object Object]">
                                  23rd August - 13th September 2019
                              </label>
                          </li><li ng-repeat="po in $ctrl.product.ProductOptions" ng-if=":: !po.Hidden" class="ng-scope">
                              <label class="ng-binding">
                                  <input type="radio" name="select-product-option" required="" ng-model="$ctrl.productOption" ng-model-options="{}" ng-change="$ctrl.onSelectProductOption()" ng-disabled=":: po.SpotsRemaining < 1" ng-value="po" class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required" value="[object Object]">
                                  13th September - 4th October 2019

                              </label>
                          </li><li ng-repeat="po in $ctrl.product.ProductOptions" ng-if=":: !po.Hidden" class="ng-scope">
                              <label class="ng-binding">
                                  <input type="radio" name="select-product-option" required="" ng-model="$ctrl.productOption" ng-model-options="{}" ng-change="$ctrl.onSelectProductOption()" ng-disabled=":: po.SpotsRemaining < 1" ng-value="po" class="ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required" value="[object Object]">
                                  Camp Thailand 2020
                              </label>
                          </li>
                      </ul>
                  </div>

<div class="panel panel-default ng-scope" style="margin-bottom: 40px" ng-if="$ctrl.site.Settings.multiIntakeTip">
                  </div>


              </section>

              <section class="custom-fields ng-scope" ng-if=":: $ctrl.site.Settings.criminalAndHealthDisclaimers">


                  <div class="form-group">
                      <label>
                          Please confirm
                          <span class="text-danger">*</span>
                      </label>

                      <div class="checkbox">
                          <label for="medicalDisclaimer" class="ng-binding">
                              <input type="checkbox" id="medicalDisclaimer" name="medicalDisclaimer" required="" ng-model="$ctrl.medicalDisclaimer" class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required"> I have no pre-existing medical conditions that would prevent me from travelling to this destination
                          </label>
                      </div>
                      <div class="checkbox">
                          <label for="criminalDisclaimer" class="ng-binding">
                              <input type="checkbox" id="criminalDisclaimer" name="criminalDisclaimer" required="" ng-model="$ctrl.criminalDisclaimer" class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required"> I have no past criminal convictions that would prevent me from travelling to this destination
                          </label>
                      </div>

                  </div>

              </section>


             <section class="custom-fields ng-scope" ng-if="! $ctrl.productCustomFieldsLoading">

              </section>

              <section class="promo ng-scope" ng-if="$ctrl.site.Settings.promoCode">
                  <div class="form-group" ng-class="{'has-error': $ctrl.form.promoCode.$valid == false, 'has-success': $ctrl.person.promoCode &amp;&amp; $ctrl.form.promoCode.$valid}">
                      <label for="promoCode">
                          Promo Code
                          <span class="text-muted">(if any)</span>
                      </label>

                      <input class="form-control ng-pristine ng-untouched ng-valid ng-isolate-scope ng-empty ng-valid-validate-promo-code" id="promoCode" type="text" name="promoCode" style="width: 180px; display: inline-block" validate-promo-code="$ctrl.promoVal" ng-model="$ctrl.person.promoCode" ng-model-options="{ allowInvalid: false, debounce: 200, updateOn: 'blur debounce' }" product-id="$ctrl.product.Id" product-option-id="$ctrl.productOption.Id" site-id="$ctrl.site.Id" on-promo-code-changed="$ctrl.onPromoCodeChanged(result)">
                  </div>

              </section>

              <section class="terms">
                  <div class="form-group" ng-class="{'has-error': $ctrl.showValError('acceptTermsAndConditions')}">
                      <label for="acceptTermsAndConditions">
                          Terms and Conditions
                          <span class="text-danger">*</span>
                      </label>
                      <div class="checkbox">
                          <label>
                              <input type="checkbox" id="acceptTermsAndConditions" name="acceptTermsAndConditions" required="" ng-model="$ctrl.acceptTermsAndConditions" class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required"> I comply with the <a ng-href="https://summercampthailand.com/legal/" target="_blank" href="https://summercampthailand.com/legal/">terms and conditions</a>
                          </label>
                      </div>
                  </div>
                  <button class="btn btn-primary btn-lg btn-block ng-binding" type="submit">Proceed</button>
              </section>
          </div>
        </div>
</body>
</html>


<main>
<body class="d-flex flex-column">
  <div style="position:relative; top:400px;" >
    <div id="page-content">
      </div>
        <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
          <div class="container text-center">
            <h5>Registered in England and Wales No. 07373495. All rights reserved. Invasion is a registered trademark – number UK00003239996 Invasion Camp Group Ltd is a member of ABTA (membership no. Y4841)</h5>
            <h5>Legal – Privacy Policy</h5>
              <a class="nav-link" href="index.html">Home</a>
              <a class="nav-link" href="about-us.html">About Us</a>
              <a class="nav-link" href="contact-us.html">Contact Us</a>
              <a class="nav-link" href="links.html">Links</a>
                <h4>© Invasion Camp Group</h4>
            </div>
          </div>
        </footer>
      </body>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>

    <!--Custom JavaScript
    ================================================== -->
    <script src="js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </body>
</html>
